@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    padding: 1vw 4vw;
    height: fit-content;
}

nav {
    position: absolute;
}

nav,
.nav-right ul,
.nav-left {
    position: relative;
    font-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left h3 {
    padding: 0 1vw;
    font-weight: 800;
    font-size: 2vw;
}

.nav-left h3 span {
    color: #FF5400;
}

.nav-right ul li {
    font-size: 1vw;
    padding: 0 1vw;
    list-style: none;

}

.nav-right ul li:first-child {
    color: #FF5400;
    font-weight: 800;
}

.nav-right-min i {
    position: relative;
    top: -35px;
    left: 90%;
    font-size: 25px;
    display: none;
}


/* hero section  */

.heroSec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vw;
    width: 100%;
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-top: 3vw;
}

.heroSec h1 {
    font-size: 4vw;
    color: #fff;
}

.heroSec p {
    text-align: center;
    width: 50%;
    color: #fff;
    margin: 1vw 0;
}

.btn {
    display: flex;
    height: fit-content;
    background: rgba(255, 255, 255, 0.30);
    padding: 1vw;
    border-radius: 1vw;
}

.btn div {
    background: #fff;
    margin: 0 0.5vw;
    border-radius: 10px;
}

.btn div i {
    padding-right: 10px;
}

.btn input {
    padding: 0.8vw;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn button {
    background: #FF5400;
    border: none;
    padding: 0.8vw;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}


/* popular sec */
.popular {
    padding: 0 3vw;
    margin-top: 6vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.popular-left {
    /* margin-top: -2vw; */
    width: 60%;
}

.popular-left h1 {
    font-size: 50px;
}

.popular-left h4 {
    font-size: 20px;
    margin: 1vw 0vw;
    font-weight: 500;
    width: 60%;
}

.mid ol li {
    font-size: 20px;
}

.popular-left button {
    margin-top: 1vw;
    padding: 10px 1.2vw;
    border-radius: 10px;
    background-color: #FF5400;
    color: #fff;
    border: none;
}

.popular-right img {
    width: 25vw;
}



/* Choose Your Destination */
.destination {
    width: 100%;
    height: 190vh;
}

.destination .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.destination .top h1 {
    font-size: 40px;
}

.destination .top P {
    padding: 20px 0;
    width: 50%;
    text-align: center;
}

.img1,
.img2,
.img3 {
    width: 100%;
    height: 50vh;
    margin-top: 2vw;
    gap: 20px;
    display: grid;
}

.img1 {
    grid-template-columns: repeat(2, 50%);
}

.img2 {
    grid-template-columns: 30% 50% 20%;
}

.img3 {
    grid-template-columns: 40% 60%;
}

.img1-1,
.img1-2,
.img2-1,
.img2-2,
.img2-3,
.img3-1,
.img3-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat
}



.img1-1 {
    background-image: url("./Images/Rectangle 5.png");
}

.img1-2 {
    background-image: url("./Images/Rectangle 8.png");
}



.img2-1 {
    background-image: url("./Images/Rectangle 6.png");
}

.img2-2 {
    background-image: url("./Images/Rectangle 7.png");
}

.img2-3 {
    background-image: url("./Images/Rectangle 9.png");
}


.img3-1 {
    background-image: url("./Images/Rectangle 11.png");
}

.img3-2 {
    background-image: url("./Images/Rectangle 10.png");
}


/* new section */
#newSec {
    /* margin-top: 20vw; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.newSec-t {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.newSec-t h1 {
    font-size: 2.5vw;
}

.newSec-t h3 {
    margin-top: 20px;
    font-size: 2vw;
    color: #FF5400;
}

.newSec-m {
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.newSec-m-left h4 {
    font-size: 2vw;
    color: #FF5400;
    font-weight: 800;
}

.newSec-m-left div {
    font-weight: 600;
    width: 80%;
    margin-top: 1vw;
    font-size: 1.2vw;
}

.newSec-m-left div span {
    font-weight: 900;
    margin-right: 0.5vw;
}

.newSec-m-right img {
    width: 40vw;
    border-radius: 20px;
}

.newSec-b button {
    padding: 1vw 1.2vw;
    border-radius: 10px;
    background-color: #FF5400;
    color: #fff;
    font-size: 15px;
    border: none;
}



/* whyUs  */
.whyUs {
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.whyUs-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.whyUs-t h1 {
    font-size: 2vw;
    margin-bottom: 2vw;
}

.whyUs-t p {
    text-align: center;
    width: 80%;
    font-size: 0.8vw;
    margin-bottom: 2vw;
}

.whyUs-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.whyUs-m1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.whyUs-m2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.whyUs-b {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.whyUs-m1,
.whyUs-m2,
.whyUs-b {
    border-radius: 10px;
    padding: 30px;
    width: 30vw;
    height: 12vw;
}

.whyUs-m1 h4,
.whyUs-m2 h4,
.whyUs-b h4 {
    font-size: 1.2vw;
    padding: 0.8vw 0;
}


/* deals */
.deals {
    margin-top: 6vw;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
}

.deals-t {
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.deals-t h2 {
    font-size: 40px;
    font-weight: 600;
}

.deals-t p {
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.dealsSub-1-img,
.dealsSub-2-img,
.dealsSub-3-img {
    display: flex;
    align-items: center;
    /* font-size: 30px; */
    border-radius: 20px;
    color: #fff;
    width: 100%;
    height: 60vh;
    background-position: center;
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.dealsSub-1-img {
    background-image: url("./Images/Malaysia.jpg");
    justify-content: right;

}

.dealsSub-2-img {
    background-image: url("./Images/maldives.jpg");
    justify-content: left;
}

.dealsSub-3-img {
    background-image: url("./Images/indonesia.jpg");
    justify-content: right;
}

.dealsSub-1,
.dealsSub-2,
.dealsSub-3 {
    color: black;
    background: rgba(255, 255, 255, 0.772);
    padding: 30px;
    width: 30%;
    border-radius: 20px;
    margin: 0 3vw;
}

.deals-b-sub-t div,
.deals-b-sub-t {
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.deals-b-2 h4 {
    font-size: 2vw;
    padding: 10px 0;
}

.deals-b-2 p {
    font-size: 16px;
    padding-bottom: 10px;
}


/* simple */
.simple {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    margin-top: 10vw;
    padding: 0 3vw;
}


.simple-left {
    width: 80%;
    /* margin-top: 8vw; */
}

.simple-left h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.simple-mid h4,
.simple-mid ol li {
    font-size: 20px;
    margin-bottom: 10px;
}


.simple-right {
    background-image: url("./Images/Group 40089.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 30px; */
    border-radius: 20px;
    color: #fff;
    width: 100%;
    height: 40vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.simple-right-t {
    font-size: 20px;
    margin: 6vw 0;
}

.simple-right-b {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-bottom: -5%; */
}

.top,
.top div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top div img {
    margin-right: 10px;
}

.bottom {
    margin: 10px 0;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}




/* contact */

.contact {
    padding: 0 10vw;
    width: 100%;
    height: 50vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-t {
    display: flex;
    padding: 1vw;
    flex-direction: column;
    border: 1px solid #FF5400;
    border-radius: 10px;
}

.contact-t h3 {
    font-size: 2vw;
    margin-bottom: 10px;
}

.contact-t p {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-t input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    outline: none;
    padding: 20px;
    margin-bottom: 10px;
}

.contact-b {
    display: flex;
    /* flex-direction: column;
    align-items: center;  */
    justify-content: center;
    background-image: url('./Images/Rectangle\ 8\ \(1\).png');
    width: 40vw;
    height: 100%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.save {
    height: fit-content;
    padding: 1vw;
    background-color: #FF5400;
    position: relative;
    top: 13vw;
    left: 9vw;
    border-radius: 10px;
    color: #fff;
    transform: rotate(-30deg);
}

.save h3 {
    font-size: 2vw;
}

.save h5 {
    font-size: 1vw;
}



/*  footer*/
.footer-t {
    margin-top: 2vw;
    width: 100%;
    height: 30vh;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero span {
    color: #FF5400;
}

.footer-t p {
    padding: 20px 0;
    width: 30%;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.border {
    width: 35vw;
    margin: 20px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.244);
}



@media screen and (min-width:320px) and (max-width:600px) {

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .nav-right {
        display: none;
    }

    .nav-right-min i {
        display: block;
    }

    .nav-left h3 {
        font-size: 2.5vw;
    }

    .heroSec {
        border-radius: 10px;
        height: 50vw;
    }

    .heroSec h1 {
        font-size: 4vw;
    }

    .heroSec p {
        font-size: 10px;
        width: 80%;
    }

    .btn {
        flex-direction: column;
    }

    .btn div {
        margin-bottom: 10px;
    }

    .popular {
        flex-direction: column;
    }

    .popular-left {
        width: 100%;
    }

    .popular-left h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .popular-left h4 {
        text-align: center;
        font-size: 15px;
        width: 100%;
    }

    .mid ol li {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .popular-left button {
        padding: 10px 2vw;
        margin-bottom: 20px;
    }

    .popular-right img {
        margin: 20px auto;
        width: 80%;
    }

    .destination .top h1 {
        font-size: 25px;
        margin: 20px 0;
    }

    .destination .top P {
        font-size: 15px;
        padding: 0;
        width: 80%;
    }

    .img1,
    .img2,
    .img3 {
        height: 60vh;
        grid-template-columns: repeat(1, 1fr);
    }

    #newSec {
        height: 50vh;
        margin-top: 20vw;
    }

    .newSec-t h1 {
        font-size: 3vw;
    }

    .newSec-t h3 {
        margin-top: 10px;
        font-size: 2vw;

    }

    .newSec-m {
        align-items: center;
        flex-direction: column;
    }

    .newSec-m-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .newSec-m-left div {
        width: 100%;
        font-size: 2vw;

    }

    .newSec-m-right img {
        width: 100%;
    }

    .whyUs {
        height: 50vh;
        width: 100%;
        margin-top: 30vw;
    }

    .whyUs-t h1 {
        font-size: 4vw;
    }

    .whyUs-t p {
        width: 100%;
        font-size: 2vw;
        margin-bottom: 0vw;

    }

    .whyUs-m {
        flex-direction: column;
        padding: 0;

    }

    .whyUs-m1,
    .whyUs-m2,
    .whyUs-b {
        margin-top: 20px;
        padding: 10px !important;
        width: 80vw;
        height: 25vw;
    }

    .whyUs-m1 img,
    .whyUs-m2 img,
    .whyUs-b img {
        width: 10%;
    }

    .whyUs-m1 h4,
    .whyUs-m2 h4,
    .whyUs-b h4 {
        font-size: 2vw;
        padding: 0.8vw 0;

    }

    .whyUs-m1 p,
    .whyUs-m2 p,
    .whyUs-b p {
        font-size: 10px;
    }

    .deals {
        margin-top: 35vw;
    }

    .deals-t h2 {
        margin-top: 20px;
        font-size: 50px;
    }

    .deals-t p {
        font-size: 15px;
        text-align: center;
        width: 80%;
    }

    .dealsSub-1-img,
    .dealsSub-2-img,
    .dealsSub-3-img {
        justify-content: center;
    }

    .dealsSub-1,
    .dealsSub-2,
    .dealsSub-3 {
        width: 80%;
    }

    .deals-b-sub-t div {
        font-size: 15px;
    }

    .deals-b-2 h4 {
        font-size: 20px;
    }

    .simple {
        margin-top: 20vw;
        flex-direction: column;
    }

    .simple-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .simple-left h1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .simple-mid h4,
    .simple-mid ol li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .simple-right {
        height: 200vw;
    }

    .simple-right-t h4 {
        font-size: 15px;
    }

    .simple-right-b {
        width: 80%;
    }

    .contact {
        flex-direction: column;
        height: 80vh;
        padding: 5vw;
    }

    .contact-t {
        padding: 30px;
        margin-top: 20px;
    }

    .contact-t h3 {
        font-size: 30px;
    }

    .contact-t p {
        font-size: 13px;
    }

    .contact-b {
        border-radius: 10px;
        margin-top: 10px;
        width: 100%;
        height: 60vw;
    }

    .save {
        top: 22vw;
        left: 20vw;
    }

    .save h3 {
        font-size: 3vw;
    }

    .save h5 {
        font-size: 1.3vw;
    }

    .footer-t {
        width: 100%;
        height: 50vh;

    }

    .footer-t p {
        font-size: 15px;
        width: 80%;

    }

    .icons {
        font-size: 20px;
    }

    .border {
        width: 75%;
    }
}

@media screen and (max-width:425px) {
    .save {
        padding: 1.5vw;
        top: 38vw;
        left: 26vw;
    }

    .deals-b-sub-t div{
        font-size: 10px;
    }

    .newSec-t{
        margin-top: 8vw;
    }
    .heroSec{
        height: 40vh;
    }

    .btn input{
        padding: 2vw;
    }
}